{% extends 'products/base.html' %}
{% load static%}

{% block title%}Profile{% endblock %}

{% block content%}
<section class="profile-section">
    <div class="container">
        <h2>Профиль пользователя</h2>
        <div class="profile-info">
            <h3>Информация о пользователе</h3>
            <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
            <p><strong>Электронная почта:</strong> {{ user.email }}</p>
        </div>

        <div class="order-history">
            <h3>История заказов</h3>
            <ul>
                {% for order in orders %}
                <li>
                    <p><strong>Номер заказа: </strong>{{ order.id }}</p>
                    <p><strong>Дата: </strong>{{ order.created_at }}</p>
                    <p><strong>Сумма: </strong>₽{{ order.total_amount }}</p>
                </li>
                {% empty %}
                <li>Нет заказов</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}